.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    margin: -1px;
}
.dark{
    background: #000;

}
.top-btn-area .btn-top{
    position: fixed;
    right: 100px;
    bottom: 40px;
    z-index: 50;
    width: 50px;
    height: 50px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.3s;
}
.top-btn-area .btn-top.show{
    opacity: 1;
}
.top-btn-area .btn-top.on{
    position: absolute;
    right: 100px;
    bottom: 100px;
}